// ==========================================================================
// Extends
// ==========================================================================

// Background Image

%imgbackground {
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100% 100%;
}

// Homepage Content Elements

%content-item-image {
	@extend %imgbackground;
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	transition: all .5s ease;

	&:hover {
		box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .6);
		transform: scale(1.08);

		a {
			display: block;
		}
	}
	a {
		display: none;
	}
}

// Sub Header Portfolio Page 

%thumb {
	@extend %imgbackground;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 175px;
	min-height: 175px;
	transition: all .5s ease;
	z-index: 0;

	@media (max-width:$brkpoint--sm) {
		min-width: 90px;
		min-height: 90px;
	}
	a {
		display: none;
	}
	&:hover {
		box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .6);
		transform: scale(1.08);

		a {
			display: block;
		}
	}
	&:before {
		content: '';
		float: left;
		padding-top: 100%;
	}
}