// ==========================================================================
// Transfroms
// ==========================================================================

// Homepage image rotation

.sub-header {
	@include e(image) {
		transition: .8s ease-out;
		transform-style: preserve-3d;

		&:hover {
			transform: rotateY(180deg);
		}
		div {
			position: absolute;
			backface-visibility: hidden;
		}
		.side-a {
			z-index: 2;
		}
		.side-b {
			transform: rotateY(-180deg);
		}
	}
}

// ==========================================================================
// Rotation for arrow
// ==========================================================================

.active {
	animation: 0.8s bounce ease;
}

@keyframes bounce {
	0% 	 { transform : rotate(0) 			translateY(0);}
	100% { transform : rotate(360deg) translateY(0px); }
}