// ==========================================================================
// Transfroms
// ==========================================================================

// Homepage image rotation

.sub-header {
	@include e(image) {
		transform-style: preserve-3d;
		perspective: 800;

		&:hover .side-a {
			transform: rotateY(180deg);
		}
		&:hover .side-b {
			transform: rotateY(0deg);
		}
		div {
			position: absolute;
			backface-visibility: hidden;
			transform-style: preserve-3d;
			transition: .8s ease-out;
		}
		.side-a {
			z-index: 2;
			transform: rotateY(0deg);
		}
		.side-b {
			transform: rotateY(-180deg);
		}
	}
}

// ==========================================================================
// Rotation arrow About page
// ==========================================================================

.active {
	animation: 0.8s bounce ease;
}

@keyframes bounce {
	0% 	 { transform : rotate(0) 			translateY(0);}
	100% { transform : rotate(360deg) translateY(0px); }
}