// ==========================================================================
// Homepage 
// ==========================================================================

.homepage-content {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-basis: auto;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin: 0 auto;

	@media (max-width:$brkpoint--md) {
		flex-direction: column;
	}
	@media (max-width:$brkpoint--sm) {
		margin-top: 30px;
	}
	& > div {
		@extend %imgbackground;
		display: flex;
		justify-content: center;
		flex: 1;
		flex-basis: auto;
		width: 100%;
		overflow: hidden;
		margin: -1px; // to remove white space on Safari

		&:before {
			content: '';
			display: table;
			padding-top: 100%;
		}
	}
	
	@media (max-width:$brkpoint--md) {
		width: 100%;
		flex-basis: auto;	// prevent collapse in IE when vertical
	}

	.content-item {
		@include e(portfolio) {
			@extend %content-item-image;
			background-image: url('i_emma-pake.png');
		}
		@include e(about) {
			@extend %content-item-image;
			background-image: url('i_nz.jpg');
		}
		@include e(contact) {
			@extend %content-item-image;
			background-image: url('i_email.jpg');
		}
	}
}