// ==========================================================================
// Homepage 
// ==========================================================================

.homepage-content {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin: 0 auto;

	@media (max-width:$brkpoint--md) {
		flex-direction: column;
	}

	& > div {
		@extend %hpcontent;

		@media (max-width:$brkpoint--md) {
			width: 100%;
		}		
	}

	@include e(portfolio) {
		background-image: url('#{$path--rel}i_emma-pake.png');
	}
	@include e(about) {
		background-image: url('#{$path--rel}i_nz.jpg');
	}
	@include e(contact) {
		background-image: url('#{$path--rel}i_email.jpg')
	}
	.content-item {
		display: flex;
		flex-grow: 1;
		justify-content: center;
		align-items: center;

		&:hover {
			a {
				display: block;
			}
		}
		a {
			display: none;
		}
	}
}