// ==========================================================================
// Portfolio Page
// ==========================================================================

.portfolio-content {
	display: flex;
	flex-direction: column;

	.portfolio-sites {
		display: flex;
		flex-direction: row;
		width: 100%;
		margin: 0 auto;
		padding: 200px 0 100px;

		@media (max-width:$brkpoint--md) {
			flex-direction: column;
			padding-top: 100px;
		}
		@media (max-width:$brkpoint--sm) {
			padding: 50px 0;
		}
	
		.site-image {
			@extend %hpcontent;
			align-items: center;
			border-radius: $br--default;
			max-height: 571.5px;
			margin-left: 5%;

			&:hover {
				a {
					display: block;
				}
			}
			a {
				display: none;
			}
			@media (max-width:$brkpoint--md) {
				width: 50%;
				order: 1;
				margin: 0 auto;
			}
		}
		.site-description {
			margin-right: 5%;
			flex: 2;

			@media (max-width:$brkpoint--md) {
				order: 2;
			}

			p {
				text-align: left;
				letter-spacing: $letter-space / 4;
				margin: 0 20px;
			}
			a {
				color: $color-secondary;
				text-decoration: underline;
			}
		}
	}
	.page-navigation {
		a {
			color: $color-secondary;
			text-decoration: underline;
			padding: 10px;
			margin: 0 15px;

			&:hover {
				color: palette(white, xx-dark);
			}
		}
		@media (max-width:$brkpoint--sm) {
			font-size: 12px;
			padding-bottom: 50px;
		}
	}
}
.ep-site {
	background-image: url('#{$path--rel}i_emma-pake.png');
}
.logic-site {
	background-image: url('#{$path--rel}i_logic.png');
}