// ==========================================================================
// Portfolio Page
// ==========================================================================

.portfolio-content {
	display: flex;
	flex-direction: column;

	.portfolio-sites {
		display: flex;
		flex-direction: row;
		width: 100%;
		margin: 0 auto;
		padding: 200px 0 100px;

		@media (max-width:$brkpoint--lg) {
			flex-direction: column;
			padding-top: 100px;
		}
		@media (max-width:$brkpoint--sm) {
			padding: 50px 0;
		}
		.site-image {
			display: flex;
			flex: 1;
			border-radius: $br--default;
			max-height: 571.5px;
			margin-left: 5%;
			overflow: hidden;

			@media (max-width:$brkpoint--lg) {
				width: 50%;
				order: 1;
				margin: 20px auto 0;
				flex-basis: auto;	// prevent collapse in IE when vertical
			}
			&:before {
				content: '';
				display: table;
				padding-top: 100%;
			}
			.ep-site {
				@extend %content-item-image;
				
				background-image: url('i_emma-pake.png');
			}
			.logic-site {
				@extend %content-item-image;
				border-radius: $br--default;
				background-image: url('i_logic.png');
			}
		}
		.site-description {
			margin-right: 5%;
			flex: 2;

			@media (max-width:$brkpoint--lg) {
				flex-basis: auto; // prevent collapse in IE when vertical
			}
			@media (max-width:$brkpoint--md) {
				order: 2;
			}
			p {
				text-align: left;
				letter-spacing: $letter-space / 4;
				margin: 0 20px;
			}
			a {
				color: $color-secondary;
				text-decoration: underline;
			}
		}
	}
	.page-navigation {
		padding-bottom: 50px;

		a {
			color: $color-secondary;
			text-decoration: underline;
			padding: 10px;
			margin: 0 15px;

			&:hover {
				color: palette(white, xx-dark);
			}
		}
		@media (max-width:$brkpoint--sm) {
			font-size: 12px;
			padding-bottom: 50px;
		}
	}
}